div{
	margin-top: 5px;
	margin-bottom: 5px;
}
.header{
	display:flex ;background-color: blanchedalmond;
}
p{
	margin-bottom: 0;
	padding-bottom: 0;
}
textarea{
	margin-top: 0;
}
#ans{background-color: aquamarine;

}